python-dotenv

langchain_core
langchain
langchain_community
langchain_huggingface
langchain_openai
langchain_mistralai
langchain_gigachat
langgraph

faiss-cpu
torch
transformers

sentence-transformers
sentencepiece
accelerate
pandas
gradio